@import url(http://fonts.googleapis.com/css?family=Allura|Open+Sans:400,800);

body {
    color: #424242;
    background-color: #f5f6f6;
    font-family: 'Open Sans', sans-serif;
}

#heading {
    text-align: center;
    margin-bottom: 60px;
}

#heading h1, #heading h3 {
    font-weight: 800;
    text-transform: uppercase;
}

#heading h2 {
    font-family: 'Allura', cursive;
}

#summoner-input {
    margin-top: 60px;
}
